<%- include('../partials/header') %>

    <table>
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Airport</th>
                <th>Airline</th>
                <th>Departure Time</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(f => { %>
                <tr>
                    <td><%= f.flightNo %></td>
                    <td><%= f.airport %></td>
                    <td><%= f.airline %></td>
                    <td><%= f.departs %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>