<%- include('../partials/header') %>

<section id="show-page">
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departure Date: </div>
  <div><%= flight.departs %></div>
</section>

<br><br><h2>Destinations</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Destination:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN" selected>DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <label>Arrival Time:
    <input type="datetime-local" name="arrival" value="2022-09-12T19:30" min="2018-06-12T19:50">
  </label><br>
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
    <table>
      <!--- Table Header -->
      <thead>
        <!--- Table Row -->
        <tr>
          <!--- Table Header Item -->
          <th>Destination</th>
          <th>Arrival Time</th>
        </tr>
      </thead>
      <!--- Table Body -->
      <tbody>
        <!--- Iterate through reviews array-->
        <!--- Create a review row for each element -->
        <% flight.destinations.forEach(function(f) { %>
          <tr>
            <td><%= f.airport %></td>
            <td><%= f.arrival %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations</h5>
  <% } %>

<br><br><h2>Tickets</h2>
<div id="new-ticket">
  <a href="/flights/<%= flight._id %>/tickets/new"><button type="button">New Ticket</button></a>
</div>
<% if (tickets.length) { %>
  <table>
    <!--- Table Header -->
    <thead>
      <!--- Table Row -->
      <tr>
        <!--- Table Header Item -->
        <th>Flight</th>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <!--- Table Body -->
    <tbody>
      <!--- Iterate through reviews array-->
      <!--- Create a review row for each element -->
      <% tickets.forEach(function(t) { %>
        <tr>
          <td><%= t.flight.flightNo %></td>
          <td><%= t.seat %></td>
          <td>$<%= t.price %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Tickets</h5>
<% } %>
  
</main>
</body>
</html>